<nav aria-label="Page navigation example">
    <ul class="pagination">
        {% for i in range(1, paginator_total_pages + 1) %}
            {%- if loop.first -%}
                <li class="page-item {{ "disabled" if current_page == 1 }}">
                    <a class="page-link"
                            {% if current_page != 1 -%}
                       href="{{ pages_names[current_page - 2] | urlencode }}"
                            {% else -%}
                       href="#" tabindex="-1" aria-disabled="true"
                            {% endif -%}
                    >Назад</a>
                </li>
            {% endif %}
            <li class="page-item {{ "active" if i == current_page }}">
                <a class="page-link"
                   href="{{ pages_names[i - 1] | urlencode }}">{{ i }}</a>
            </li>
            {%- if loop.last -%}
                <li class="page-item {{ "disabled" if current_page == paginator_total_pages }}">
                    <a class="page-link"
                            {% if current_page != paginator_total_pages -%}
                       href="{{ pages_names[current_page] | urlencode }}"
                            {% else -%}
                       href="#" tabindex="-1" aria-disabled="true"
                            {% endif -%}
                    >Вперед</a>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
</nav>